<div class="home">
    <h1>Welcome to Yak Shop!</h1>

    <div class="home__login">
      <div class="col-xl-6">
        <p>
          For the simplicity of the application, user can log in if his username and password match (e.g. username=user123, password=user123).
        </p>
        <app-login-form></app-login-form>
      </div>
    </div>
</div>
