<div class="login-form">

  <div *ngIf="showLoginError" class="alert alert-danger" role="alert">
    Login data incorrect.
  </div>

  <form *ngIf="loginForm" [formGroup]="loginForm" class="login-form__form" (ngSubmit)="login()">
    <div class="form-group">
      <label for="yak-shop-username">Username</label>
      <input type="text" class="form-control" formControlName="username" id="yak-shop-username" placeholder="Enter username">

      <app-validation-message
        *ngIf="loginForm.controls.username.touched"
        class="login-form__validation"
        [errors]="loginForm.controls.username.errors">
      </app-validation-message>
    </div>

    <div class="form-group">
      <label for="yak-shop-password">Password</label>
      <input type="password" class="form-control" formControlName="password" id="yak-shop-password" placeholder="Enter password">

      <app-validation-message
        *ngIf="loginForm.controls.password.touched"
        class="login-form__validation"
        [errors]="loginForm.controls.password.errors">
      </app-validation-message>
    </div>

    <div class="form-group">
      <label for="yak-shop-day">Day simulate</label>
      <input type="number" class="form-control" formControlName="day" id="yak-shop-day" placeholder="Enter day to simulated">

      <app-validation-message
        *ngIf="loginForm.controls.day.touched"
        class="login-form__validation"
        [errors]="loginForm.controls.day.errors">
      </app-validation-message>
    </div>

    <button class="btn btn-primary">Login</button>
  </form>
</div>
