.user-widget {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 260px;

  line-height: 25px;
  font-size: 18px;

  &__user {

  }

  &__logout {
    background: transparent;
    border: 2px solid #dc3545;
    color: #dc3545;
    margin-left: 10px;
    border-radius: 5px;

    &:hover {
      color: white;
      background: #dc3545;
    }
  }


}
