<div class="user-widget">
  <ng-container *ngIf="isLoggedIn">
    <div class="user-widget__user">
      Welcome {{ username }}!
    </div>
    <button class="user-widget__logout" (click)="logout()">Logout</button>
  </ng-container>
</div>
