.products {

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__product {
    padding: 0;

    border: 1px solid #e2e2e2;
  }

  .alert {
    a {
      font-weight: bold;
      text-decoration: underline;
      color: #155724;
    }
  }
}
