<div class="products">
    <h1>Products</h1>

    <div *ngIf="addedToCart" class="alert alert-success" role="alert">
      Product {{ addedToCart.name }} ({{ addedToCart.quantity}}) added to <a [routerLink]="cartRoute">cart</a>.
    </div>

    <div class="products__list">
      <div *ngFor="let product of products" class="products__product col-xl-4">
        <app-product [product]="product" (addToCart)="addToShoppingCart($event)"></app-product>
      </div>
    </div>
</div>
