<nav class="main-menu">
  <ul class="main-menu__list">
    <ng-container *ngFor="let item of menu">
      <li class="main-menu__item">
        <a class="main-menu__link" [routerLink]="item.path">{{ item.name }}</a>
      </li>
    </ng-container>
  </ul>
  <app-day-preview class="main-menu__day-preview"></app-day-preview>
  <app-user-widget class="main-menu__user-widget"></app-user-widget>
</nav>

