.main-menu {
  display: flex;
  align-items: center;
  min-height: 100px;
  padding: 10px 45px;
  margin-bottom: 85px;

  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.08);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

  &__list {
    display: flex;
    padding: 0;
    margin: 0;

    list-style: none;
  }

  &__item {
    margin-right: 45px;
  }

  &__link {
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
    color: #aeaead;
    font-weight: 500;
  }

  &__day-preview {
    margin-left: auto;
    margin-right: auto;
  }

}
