<div class="yak-shop">
  <div class="yak-shop__menu">
    <app-main-menu [menu]="menu"></app-main-menu>
  </div>

  <div class="yak-shop__content container">
    <router-outlet></router-outlet>
  </div>
</div>

