.product {
  $self: &;

  position: relative;

  padding: 36px 22px 20px 22px;

  text-align: center;

  cursor: pointer;

  &__img {
    position: relative;

    width: 100%;
    height: 285px;
    margin-bottom: 25px;

    img {
      width: 100%;
      height: 100%;

      object-fit: contain;
    }
  }

  &__name {
    font-size: 22px;
    line-height: 30px;

    margin-bottom: 22px;
  }

  &__add-to-cart {
    position: absolute;
    top: 15px;
    left: 15px;

    display: none;
  }


  &__form {
    width: 100%;
    padding: 0 22px;

    text-align: left;

    .form-group {
      display: flex;
      margin: 0;
    }
    .btn {
      white-space: nowrap;
      margin-left: 5px;
    }
  }
}
