<div class="product">
  <div class="product__name">
    {{ product.name }}
  </div>
  <div class="product__img">
    <img [src]="product.icon" [alt]="product.name">
  </div>
  <form class="product__form" [formGroup]="quantityForm" (ngSubmit)="submit()">
    <label>Quantity</label>
    <div class="form-group">
      <input formControlName="quantity" type="number" class="form-control">
      <button class="btn btn-primary">Add to cart</button>
    </div>
  </form>
</div>




