.day-preview {
  width: 80px;
  height: 80px;
  position: relative;

  &__day {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    color: white;

    font-size: 24px;
    line-height: 1;
  }
}
