.order {

  &__content {
    padding: 0;
  }

  &__list {
    padding: 0;
    margin: 0;

    list-style: none;
  }

  &__item {
    display: flex;
    margin-bottom: 12px;
  }

  &__info {
    flex:1;
    display: flex;
    padding: 5px 18px;
    border-radius: 4px;
    border: 1px solid #b9b9b9;
  }

  &__quantity {
    margin-left: auto;
  }

  &__remove {
    margin-left: 30px;
  }

  &__response {
    margin-top: 60px;
  }
}
