<div class="order">
    <h1>Order</h1>

    <div class="order__content col-xl-8">
      <div *ngIf="!cartProducts.length; else list" class="order__info">
        No products ordered.
      </div>
      <ng-template #list>
        <ul class="order__list">
          <li *ngFor="let product of cartProducts" class="order__item">
            <div class="order__info">
              {{ product.name }}
              <span class="order__quantity">{{ product.quantity }}</span>
            </div>

            <button class="order__remove btn btn-danger" (click)="removeProduct(product.id)">Remove</button>
          </li>
        </ul>

        <button class="btn btn-primary" (click)="order()">Place order</button>

        <div  *ngIf="status" class="order__response">
          <ng-container [ngSwitch]="status">
            <div *ngSwitchCase="201" class="alert alert-success" role="alert">
              Order for {{ username }} fully delivered (201)! <br>
              DELIVERED: {{ productsDelivered | json }}
            </div>
            <div *ngSwitchCase="206" class="alert alert-warning" role="alert">
              Order for {{ username }} partially delivered (206)! <br>
              DELIVERED: {{ productsDelivered | json }}
            </div>
            <div *ngSwitchCase="404" class="alert alert-danger" role="alert">
              Order for {{ username }} not delivered (404)!
            </div>
          </ng-container>
        </div>
      </ng-template>
    </div>
</div>
