<div  class="herd">
    <h1>Herd</h1>

    <div *ngIf="herd" class="herd__labyaks" >
      <div *ngFor="let labyak of herd.herd" class="herd__labyak col-xl-4">
        <app-labyak [labyak]="labyak"></app-labyak>
      </div>
    </div>
</div>
