.herd {

  &__labyaks {
    display: flex;
    flex-wrap: wrap;
  }

  &__labyak {
    padding: 0 35px;

    text-align: center;

    border: 1px solid #e2e2e2;

    &:hover {
      cursor: pointer;
      border: 1px solid #b9b9b9;
    }
  }
}

