.labyak {
  $self: &;

  padding: 36px 22px 14px 36px;

  &__name {
    margin-bottom: 16px;
  }

  &__img {
    position: relative;

    width: 100%;
    height: 285px;
    margin-bottom: 25px;

    img {
      width: 100%;
      height: 100%;

      object-fit: contain;
    }
  }

  &__attributes {
    visibility: hidden;
    opacity: 0;

    transition: 0.25s;
  }

  &__age-last-shaved,
  &__age {
    font-size: 13px;
    line-height: 17px;
  }

  &__label {
    margin-right: 7px;

    text-transform: uppercase;
    font-weight: bold;

  }

  &:hover {
    #{$self}__attributes {
      visibility: visible;
      opacity: 1;
    }
  }

  &--shake {
    img{
      /* Start the shake animation and make the animation last for 0.5 seconds */
      animation: shake 0.5s;

      /* When the animation is finished, start again */
      animation-iteration-count: infinite;
    }
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
