<div class="labyak" [class.labyak--shake]="shake" (click)="shakeLabyak()">
  <div class="labyak__img">
    <img src="/assets/yak.png" alt="Yak">
  </div>
  <h2 class="labyak__name">
    {{ labyak.name }}
  </h2>
  <div class="labyak__attributes">
    <div class="labyak__age">
      <span class="labyak__label">Age:</span>{{ labyak.age }}
    </div>
    <div class="labyak__age-last-shaved">
      <span class="labyak__label">Age last shaved:</span>{{ labyak.ageLastShaved }}
    </div>
  </div>
</div>
