/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.container {
  max-width: 1360px;
}

a:hover {
  text-decoration: none;
}
